<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hola {{ first_name }} {{ last_name }}, Esta Es MI Primer Plantilla!</p>



    {% for nota in notas %}
        {% if nota < 4 %}
            <p style="color: rgb(157, 255, 0);">Tu Nota Es: {{ nota }}</p>
        {% else %}
            <p>Tu Nota Es: {{ nota }}</p>
        {% endif %}
    {% endfor %}

</body>
</html>